# This workflow will install Python dependencies and run tests on expected user platforms
name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    #{% raw %}
    runs-on: ${{ matrix.platform }}
    #{% endraw %}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v2
      #{% raw %}
    - name: Set up Python ${{ matrix.python-version }}
      #{% endraw %}
      uses: actions/setup-python@v5
      with:
        #{% raw %}
        python-version: ${{ matrix.python-version }}
        #{% endraw %}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test]
    - name: Run tests
      run: pytest --pyargs {{cookiecutter.__package_name}} --cov {{cookiecutter.__package_name}}
      env:
        #{% raw %}
        PLATFORM: ${{ matrix.platform }}
        #{% endraw %}
    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v3
