# This workflow will install Python dependencies and run tests in the docker container
name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: public.ecr.aws/w5r9l1c8/swsoc-docker-lambda-base:latest

    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: pytest --pyargs {{cookiecutter.__package_name}} --cov {{cookiecutter.__package_name}}
      env:
        PLATFORM: 'docker'
    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}